.icon{
    font-size: 8em !important;
    color: var(--secondary-color);
}

.btnn:hover{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 0.7em;
}

.btnn{
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.7em;
}
.email, .date{
    color: var(--secondary-color);
}

.date-weight{
    font-weight: 700;
}
.username{
    color: white;
    background-color: var(--secondary-color);
    border-radius: 5px;
}