.title{
    font-size: 2.4em;
}

@media screen and (max-width: 769px){
  .title{
    font-size: 1.4rem !important;
  }

  .item-details-date{
    font-size: 0.8rem;
  }
}
.outer-box{
    margin-top: 8%;
}

.small-image:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
    cursor: pointer;   
}

.user-icon, .location-icon{
    color: var(--primary-color) !important;
}

.faded-div{
    opacity: 0.02;
}

.item-details-container{
    border-radius: 5px;
}

.item-details-text{
    color: var(--black);
}

.approximate-price{
  text-align: center;
}

.line-break{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    height: 1px !important;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 2px;
}

 .item-details-container{
    border: 1px solid var(--primary-color) !important;
    box-shadow: 4px 4px var(--primary-color) !important;
  }

  .approved-details, .rejected-details, .pending-details{
    position: relative;
    overflow: hidden;
  }
  .item-details-container::before, .pending-details::before, .approved-details::before, .rejected-details::before{
    position: absolute;
    top: 1rem;
    right: -2rem;
    width: 8rem;
    text-align: center;
    transform: rotate(45deg);
    padding: 2px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .pending-details::before{
    background: var(--pending);
    content: "Pending";
  }

  .approved-details::before{
    background: var(--approve);
    content: "Approved";
  }

  .rejected-details::before{
    background: var(--reject);
    content: "Rejecetd";
  }

  .sub-text{
    color: white !important;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1%;
  }

  .confirmation-dialogue{
    /* border: 1px solid var(--primary-color); */
    /* background-color: var(--primary-color); */
    border-radius: 1rem;
  }

  .submit-btn-confirm-dialogue{
    color: white;
    background-color: var(--primary-variant-color);
    border-radius: 1rem;
  }

  .rejected-message-container{
    border-radius: 0.3rem;
  }

  .main-image{
    aspect-ratio: 2/2;
  }