.dropDownList{
  width: 7%;
  border-radius: 15px;
  background-color: white;
  z-index: 100;
}

.user-select-none{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}