.icons{
    font-size: 1.5em;
}

.sidenav{
    background-color: #3bb19b !important;
    color: #3bb19b !important;
    height: 92vh !important;
    margin-top: 8vh;
    position: fixed !important;
}
