.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: whitesmoke;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color: var(--secondary-color);
}

u{
	text-decoration: none;
}

#popup-list > .tooltip-inner {
	background-color: whitesmoke !important;
	border: 1px solid var(--secondary-color) !important;
	padding: 0 !important;
	margin: 0 !important;
}

#popup-list > .tooltip-arrow::before {
	border-top: 1px solid var(--secondary-color) !important;
	border-bottom-color: whitesmoke !important;
}

.popup-list-button{
	background-color: whitesmoke !important;
	color: var(--primary-color) !important;
	border: none !important;
	margin: 0 !important;
}

.popup-list-button:hover{
	background-color: var(--primary-color) !important;
	color: whitesmoke !important;
}

.popup-list-button::selection{
	background-color: var(--secondary-color) !important;
	color: whitesmoke !important;
}

.logo-icon{
	height: 10vh;
	margin-left: 2%;
}

.line-break{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    max-height: 1px !important;
    border-radius: 2px;
	margin: 4px !important
}

.nav-bar-icon{
	font-size: 1.2rem;
}

.notification-icon{
	font-size: 2.2rem;
}

#popup-list > .tooltip-inner{
	width: 400px !important;
}

.list-decoration-none{
	list-style-type: none;
}
.badge {
	position: relative;
	top: -20px;
	left: -20px;
	border-radius: 50%;
	background-color: var(--reject);
}

.navbar {
	position: relative;
	background-color: var(--secondary-color);
	height: 12vh;
	z-index: 200 !important;
	display: flex;
	font-size: 1.2rem;
  }
  
  .menu-icon {
	display: none;
  }
  
  .nav-elements ul {
	display: flex;
	justify-content: flex-end;
	background-color: var(--primary-variant-color);
	list-style-type: none;
  }
  
  .nav-elements ul a {
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: whitesmoke !important;

  }
  
  .nav-elements ul a.active {
	font-weight: 500;
	position: relative;
	color: whitesmoke !important;
  }
  
  .nav-elements ul a.active::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
  }
  
  .nav-links:after {
	content: "";
	display: block;
	width: 0;
	background: transparent;
	transition: width 0.7s ease, background-color 0.5s ease;
	}

	.nav-links:hover:after {
		width: 100%;
		background: whitesmoke;
		color: whitesmoke;
		border-bottom: 1px solid whitesmoke;
	}

	.nav-links, .nav-links:hover{
		color: whitesmoke;
		text-decoration: none;
	}

	.nav-links::after{
		background-color: whitesmoke;
		color: var(--primary-color)
	}

	.nav-elements.active ul{
		margin: 0 !important;
	}
	
	.nav-item-btn{
		list-style-type: none !important;
	}

	.uniform-list-navbar{
		background-color: var(--secondary-color) !important;
		margin-bottom: 0;
	}

  @media (max-width: 600px) {

	.nav-item-btn{
		list-style-type: none !important;
	}

	.uniform-list-navbar:after {
		content: "";
		display: block;
		width: 0;
		background: transparent;
		transition: width 0.7s ease, background-color 0.5s ease;
		border-bottom: 1px solid whitesmoke;
	}

	.menu-icon {
	  display: block;
	  cursor: pointer;
	}
	
	.white_btn{
		margin-top: 0.8rem;
	}

	.nav-links{
		list-style-type: none !important;
	}

	.nav-elements {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0;
		width: 60vw;
		top: 12vh;
		color: whitesmoke !important;
		text-decoration: none;
		opacity: 1;
	  	overflow: hidden;
		transition: all 0.5s ease;
	}

	.nav-elements ul a{
		color:  whitesmoke;
	}
  
	.nav-elements.active {
		right: -110%;
	}
  
	.nav-elements ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		text-align: center;
		align-items: center;
		justify-content: flex-end;
	}
  
  }

  .list-group-item{
	background-color: white !important;
  }

  .no-padding{
	padding: 0 !important
  }

  .navbar-icon:hover{
	cursor: pointer;
  }