.button{
    border-radius: 1.2rem;
    background-color: #3cb88f;
    border-color: white;
    width: fit-content;
    height:3rem;
}

.text{
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 5px;
}

.button-icon{
    color: #3cb88f;;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 4px;
    background-color: white;
    margin: 0px;
}