.button{
    border-radius: 1.2rem;
    border-color: transparent !important;
    width: fit-content;
    height:3rem;
}

.approve{
    background-color: var(--approve);
    box-shadow: 2px 2px rgb(16, 114, 16);
    color: rgb(16, 114, 16);
}

.reject{
    background-color: var(--reject);
    box-shadow: 2px 2px rgb(163, 18, 18);
    color:  rgb(163, 18, 18);
}

.text{
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 5px;
}

.button-icon{
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 4px;
    background-color: white;
    margin: 0px;
}