
  
  .charity-pending::before{
    background: var(--pending);
    content: "Pending";
  }

  .card-img-div{
    aspect-ratio: 2/2;
  }
  
  .charity-approved::before{
    background: var(--approve);
    content: "Approved";
  }

  .charity-rejected::before{
    background: var(--reject);
    content: "Rejecetd";
  }

  .charity-list-main-container{
    box-shadow: var(--primary-variant-color) 0px 20px 30px -10px;
  }

  .charity-ceo, .charity-turnover, .email-charity{
    color: var(--black);
    font-size: 0.9em;
  }

  .email-charity-logo{
    color: var(--primary-color);
  }

  .charity-organization-name{
    color: var(--black);
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 0.8em;
    text-size-adjust: auto;
  }

  .product-charity-description{
    color: var(--black);
    overflow: hidden;
    display: -webkit-box;
    font-size: 1rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .product--charity-description-container{
    max-height: 3rem;
    margin-bottom: 3px;
    text-overflow: ellipsis;
  }