.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
  }
  
  .pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }
  
  .pagination .page-num:hover{
    background-color: #3bb19b;
    color: #fff;
  }
  
  .pagination .active{
    background-color: #3bb19b;
    color: #fff;
  }
  
  .paginated-list-container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 0%;
  }