.search-input{
    border: none;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.search-icon{
    border: none;
}

.dropDown-button{
    text-align: start;
    align-items: start;
    background-color: none !important;
    border: 1px solid #3bb19b !important;
    width: 10rem !important;
}

.dropdown-toggle{
    background-color: #3bb19b;
    text-decoration-style: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-toggle:focus, .dropdown-toggle:hover{
    background-color: #3bb19b !important;
    text-decoration-style: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-container{
    margin: 1rem;
}