.search-input{
    border: none;
    border-bottom: 1px solid var(--secondary-color) !important;
    text-decoration: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.search-icon{
    border: none;
}

.dropDown-button{
    text-align: start;
    align-items: start;
    background-color: none !important;
    border: 1px solid var(--primary-variant-color) !important;
    color: var(--primary-variant-color);
    width: 10vw;
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .dropDown-button{
        width: 20vw;
    }
}

@media screen and (max-width: 1025px) and (min-width: 769px){
    .dropDown-button{
        width: 15vw;
    }
}

@media screen and (max-width: 426px) {
    .dropDown-button{
        width: 40vw;
    }
}

.dropdown-toggle{
    background-color: var(--primary-variant-color);
    text-decoration-style: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-toggle:focus, .dropdown-toggle:hover{
    background-color: var(--primary-color) !important;
    text-decoration-style: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-container{
    margin: 1rem;
}

.dropDown-button{
    background-color: whitesmoke;
}

.dropDown-button:hover{
    background-color: whitesmoke;
}

.dropdown{
    width: max-content;
}

.hide-show-filters{
    color: var(--primary-variant-color);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}